[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Denis-D-M
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Denis-D-M
	label-Verified = -1..+1 group user/Denis-D-M
	push = group user/Denis-D-M
	read = group user/Denis-D-M
	rebase = group user/Denis-D-M
	removeReviewer = group user/Denis-D-M
	submit = group user/Denis-D-M
[access "refs/heads/*"]
	create = group user/Denis-D-M
	push = +force group user/Denis-D-M
	pushMerge = group user/Denis-D-M
	read = group user/Denis-D-M
[access "refs/tags/*"]
	push = group user/Denis-D-M
	push = +force group user/Denis-D-M
